node_modules
ios
android
dist
web-build
.expo
.npm
.npm*
.metro-cache
.jest_cache
venv
simulator_error.png
*.log
tmp_build*
chrome-data
testenv
.home_fake
sa.json
serviceAccountKey.json
users.csv
users.json
sa.json
.git
.npm*
.npm-cache
.expo*
.next
.cache
.npm-local
